body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.head-top{
    background:#C8A35F;
    height: 45px;
}

.wrapper{
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}

.head-top .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-top-leng-nav{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
}

.item-center{
    display: flex;
    align-items: center;
}
.head-top a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.head-top-leng-nav-item{
    margin-right: 10px;
    
}    


.head-bot{
    background-color: #2F343A;
    height: 100px;
}

.head-bot .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.head-bot-left{
    display: flex;
}


.head-bot-left-map{
    display: flex;
    align-items: center;
}


.logo-img{
    margin-right: 30px;
}


.head-bot-left-map p{
   margin-left: 10px;
   font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


.head-bot-right-nav{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    padding-inline-end: -30px;
}

.head-bot-right-nav-item{
    margin-right: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}


.last{
    margin-right: -30px;
}


.slider{
    background-color:#393F47;
    width: 100%;
}

.slider .wrapper{
    display: flex;
    padding-top: 120px;
    padding-bottom: 130px;
}

.decoration{
    width: 90px;
    height: 6px;
    background: #C8A35F;
}

.slider-list{
    display: flex;
    width: 920px;
}

.slider-list-info{
    max-width: 350px;
}



.slider-list-info-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.slider-list-info-btn{
    width: 220px;
    height: 55px;
    background: #C8A35F;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 47px;
}

.slider-list-info-btn:hover{
    background: #eec780;
    cursor: pointer;
}

.slider-list-logo{
    background-color: #2F343A;
    width: 410px;
    margin-top: -120px;
    margin-bottom: -130px;
    
}



.slider-list-info-name{
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.slider-list-logo-img{
    margin-top: 166px;
    margin-bottom: 130px;
    position: relative;
    left: 125px;
}

.slider-tabs-next{
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;
    background: #393F47;
    
}

